@model TeleBase.Models.BotCommand

<h1>Edit BotCommand</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="BotId" class="control-label">BotId</label>
        <select asp-for="BotId" class="form-control" asp-items="ViewBag.BotsList"></select>
        <span asp-validation-for="BotId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CommandId" class="control-label">CommandId</label>
        <select asp-for="CommandId" class="form-control" asp-items="ViewBag.CommandsList"></select>
        <span asp-validation-for="CommandId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
