@model TeleBase.Models.BotChat
<h1>Delete BotChat</h1>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="BotId" class="control-label">BotId</label>
        <input asp-for="BotId" class="form-control" readonly="readonly" />
    </div>
    <div class="form-group">
        <label asp-for="ChatId" class="control-label">ChatId</label>
        <input asp-for="ChatId" class="form-control" readonly="readonly" />
    </div>
    <p>Are you sure you want to delete this?</p>
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
